[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.6"
django-extensions = "*"
django-background-tasks = "*"
django-pandas = "*"
werkzeug = "*"
requests = ">=2.20.0"
ipython = "*"
celery = "*"
django-celery-results = "*"
redis = "*"
django-bulk-update = "*"

[dev-packages]

[requires]
python_version = "3.7"
