{% extends "listter/base.html" %}
{% load static %}

{% block content %}
<div id="header">
</div>

<div id="main">
  <h1>Lists</h1>
  {{ user.profile.screen_name }}
  <br>{{ lists | length }} Lists
  {% for list in lists %}
  <br>{{ list.name }}
  {% endfor %}

  <h4>{{ friends.ids | length }} Friends</h4>

  {% for f in rich_friends %}
  <br>{{ f.name }} @{{ f.screen_name }}
  <br>{{ f.location }}
  <br>{{ f.description }}
  <br>{{ f.url }}
  <br><img src="{{ f.profile_image_url_https }}">
  <br>{{ f.status.text }}
  {% endfor %}

  <h4>{{ lists_members.users | length }} List members</h4>
  {% for user in lists_members.users %}
  <br>{{ user.id }}
  {% endfor %}


  {% verbatim %}
  <div id="app-7">
    <button v-on:click="postTable">POST</button>
    <table>
      <tbody>
        <tr v-for="(member_value, member_id) in membersLists">
          <td >{{ member_id }}</td>
          <td v-for="(v, list_id) in member_value">
            <button v-on:click="postMember(member_id, list_id, v)">{{ v }}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  {% endverbatim %}
</div>

<div id="footer">
</div>
{% endblock %}

{% block custom_js %}
<script type="text/javascript">
var csrftoken = Cookies.get('csrftoken');
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
});
var app7 = new Vue({
  el: '#app-7',
  data: {
    membersLists: {{ df | safe}}
  },
  methods: {
    toggleMember: function (id_name, list_name, current_value) {
      this.membersLists[id_name][list_name] = !current_value
      console.log('a');
      console.log(id_name);
      console.log(list_name);
      console.log(current_value);
    },
    postTable: function () {
      $.post(
        '/listter/post_lists/',
        {table: this.membersLists}
      ).then( function(response){
        console.log('success');
        console.log(response);
      }, function(response){
        console.log('falure');
      })
    },
    postMember: function(user_id, list_id, v) {
      $.post(
        '/listter/post_member/',
        {
          user_id: user_id,
          list_id: list_id,
          v: v * 1,
        }
      ).then( function(response){
        console.log('success');
        console.log(response);
        console.log(v * 1);
        app7.membersLists[user_id][list_id] = !v;
      }, function(response){
        console.log('falure');
      })
    }
  }
})
</script>
{% endblock %}
