{% load static %}

{% if pa %}
      <div class="m-summary">
        <div class="role">
          <div class="won" style="background-color: {% if pa.won %}#ffce2d{% else %}#888888{% endif %};">
            <!--
            <img class="hero" src="{% static 'vainlab/hero-116/'|add:pa.actor_strip|add:'_Portrait.png' %}">
            -->
            <i class="sprite-hero-116-80-{{ pa.actor_strip }}_Portrait hero"></i>
          </div>
        </div>
        <div class="mode-won">
          <span class="mw-mode">mode</span>
          <span class="mw-won">{{ pa.won_ja }}</span>
        </div>
      </div>
{% endif %}



      <div class="m-details">
{% if pa %}
        <!-- Items -->
        <div class="item-build-wrapper">
          <div class="item-build">
            {% for item in pa.items_list %}
            <div class="single-item">
              <!-- img src="{% static 'vainlab/items-48/'|add:item|add:'.png' %}" -->
              <i class="sprite-items-48-38-{{ item }}"></i>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Player stats -->
        <div class="player-stats">
          <div class="kda">
            <dt>KDA:</dt>
            <dd>
            <img class="icon" src="{% static 'vainlab/icon/kills.svg' %}">{{ pa.kda }}
            ({{ pa.kills }}/{{ pa.deaths }}/{{ pa.assists }})</dd>
          </div>
          <div class="gold">
            <dt>Gold:</dt>
            <dd><img class="icon" src="{% static 'vainlab/icon/gold.svg' %}">{{ pa.gold }}</dd>
          </div>
          <div class="cs">
            <dt>CS:</dt>
            <dd><img class="icon" src="{% static 'vainlab/icon/cs.svg' %}">{{ pa.farm }}</dd>
          </div>
        </div>
{% endif %}

        <!-- Rosters -->
      </div>

