{% extends "base.html" %}
{% load static %}


{% block custom_css %}
<link href="{% static 'vainlab/style.css' %}" rel="stylesheet">
<link href="{% static 'vainlab/sprite/hero-32.css' %}" rel="stylesheet">
<link href="{% static 'vainlab/sprite/hero-116-80.css' %}" rel="stylesheet">
<link href="{% static 'vainlab/sprite/items-48-38.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
{# error #}
{# player #}

{% for participant in participant_list %}
<div class="single-match">
  {% include "vainlab/_participant.html" with pa=participant %}
</div>
{% endfor %}

{% endblock %}
